
/*-------------------Box Sizing----------*/
html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
/*-------------------Utility Classes----------*/

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
}
/*make skip link visible when keybard users tab to it*/

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*-------------------Box Sizing----------*/

body{
font-family: "Iceberg", sans-serif; 
}
header.primary{
    background-color: #3b6b8b;
    color:#ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding-top:40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /*Single Value*/
    padding: 40px;
    padding: 40px 40px 40px 40px;
}


header.primary a{
    color:#ffffff;
    text-decoration:none;
}

nav.primary ul{
    padding: 0;
    background: green;
}

nav.primary ul li{
    list-style-type: none;
    background: red;
    margin: 10px;
}